glasp-highlights-export-workflow.json
{
  "name": "Glasp Highlights Auto Export",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Glasp Highlights Auto Export - Fetch & Filter\n// ============================================================\n//\n// HOW TO SET YOUR TOKEN:\n//\n//   Option A (n8n Cloud):\n//     Replace 'YOUR_GLASP_ACCESS_TOKEN' below with your token.\n//     Get it at: https://glasp.co/settings/access_token\n//\n//   Option B (Self-hosted):\n//     Set environment variable GLASP_ACCESS_TOKEN in your\n//     .env file or Docker config, then uncomment the\n//     $env line below and comment out the direct token line.\n//\n// ============================================================\n\n// --- Token Configuration ---\n// Option A: Direct token (n8n Cloud users)\nconst token = 'YOUR_GLASP_ACCESS_TOKEN';\n\n// Option B: Environment variable (self-hosted users)\n// const token = $env.GLASP_ACCESS_TOKEN;\n\nif (!token || token === 'YOUR_GLASP_ACCESS_TOKEN') {\n  throw new Error(\n    'Please set your Glasp Access Token. ' +\n    'Edit this Code node and replace YOUR_GLASP_ACCESS_TOKEN with your token. ' +\n    'Get your token at: https://glasp.co/settings/access_token'\n  );\n}\n\n// --- Time Range Calculation ---\nconst sd = $getWorkflowStaticData('global');\nconst now = new Date();\nconst firstRun = !sd.lastRunAt;\n\nlet baseDate = firstRun\n  ? new Date(now.getTime() - 24 * 60 * 60 * 1000)\n  : new Date(sd.lastRunAt);\n\n// 5-minute buffer to avoid missing highlights\nbaseDate = new Date(baseDate.getTime() - 5 * 60 * 1000);\n\n// --- Initialize Tracking ---\nsd.exportedDocs = sd.exportedDocs || {};\n\n// --- Fetch All Pages ---\nlet allResults = [];\nlet nextPageCursor = null;\n\ndo {\n  let queryString = 'updatedAfter=' + encodeURIComponent(baseDate.toISOString());\n  if (nextPageCursor) {\n    queryString += '&pageCursor=' + encodeURIComponent(nextPageCursor);\n  }\n\n  const data = await $http.request({\n    method: 'GET',\n    url: 'https://api.glasp.co/v1/highlights/export?' + queryString,\n    headers: {\n      Authorization: 'Bearer ' + token,\n    },\n    json: true,\n  });\n\n  if (data.results && data.results.length > 0) {\n    allResults = allResults.concat(data.results);\n  }\n\n  nextPageCursor = data.nextPageCursor || null;\n} while (nextPageCursor);\n\n// --- Filter: Only New Documents ---\nconst newDocs = allResults.filter(doc => !sd.exportedDocs[doc.id]);\n\n// --- Mark as Exported ---\nfor (const doc of newDocs) {\n  sd.exportedDocs[doc.id] = now.toISOString();\n}\n\n// --- Update Last Run ---\nsd.lastRunAt = now.toISOString();\n\n// --- Cleanup Old Tracking (30 days) ---\nconst thirtyDaysAgo = new Date(now.getTime() - 30 * 24 * 60 * 60 * 1000);\nfor (const [docId, exportedAt] of Object.entries(sd.exportedDocs)) {\n  if (new Date(exportedAt) < thirtyDaysAgo) {\n    delete sd.exportedDocs[docId];\n  }\n}\n\nif (newDocs.length === 0) {\n  return [{ json: { message: 'No new highlights found.', count: 0 } }];\n}\n\nreturn newDocs.map(doc => ({ json: doc }));\n"
      },
      "id": "fetch-and-filter",
      "name": "Fetch & Filter Highlights",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-has-highlights",
              "leftValue": "={{ $json.highlights }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-has-highlights",
      "name": "Has Highlights?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Format highlights for export\n// ============================================================\n\nconst doc = $input.item.json;\n\nconst lines = [];\nlines.push('## ' + doc.title);\nlines.push('');\nlines.push('**URL:** ' + doc.url);\nlines.push('**Glasp:** ' + doc.glasp_url);\nif (doc.tags && doc.tags.length > 0) {\n  lines.push('**Tags:** ' + doc.tags.join(', '));\n}\nif (doc.document_note) {\n  lines.push('**Note:** ' + doc.document_note);\n}\nlines.push('');\nlines.push('### Highlights');\nlines.push('');\n\nfor (const h of doc.highlights) {\n  lines.push('> ' + h.text);\n  if (h.note) {\n    lines.push('');\n    lines.push('**Note:** ' + h.note);\n  }\n  const d = new Date(h.highlighted_at).toLocaleDateString();\n  lines.push('');\n  lines.push('— *' + h.color + ' highlight, ' + d + '*');\n  lines.push('');\n}\n\nconst highlightsMarkdown = lines.join('\\n');\n\nconst highlightsText = doc.highlights\n  .map(function(h) {\n    return h.text + (h.note ? ' [Note: ' + h.note + ']' : '');\n  })\n  .join('\\n\\n');\n\nreturn {\n  json: {\n    documentId: doc.id,\n    title: doc.title || 'Untitled',\n    url: doc.url,\n    glasp_url: doc.glasp_url,\n    domain: doc.domain,\n    category: doc.category,\n    tags: doc.tags || [],\n    author: doc.author || '',\n    thumbnail_url: doc.thumbnail_url || '',\n    document_note: doc.document_note || '',\n    is_favorite: doc.is_favorite || false,\n    highlightCount: doc.highlights.length,\n    highlightsText: highlightsText,\n    highlightsMarkdown: highlightsMarkdown,\n    highlights: doc.highlights.map(function(h) {\n      return {\n        id: h.id,\n        text: h.text,\n        note: h.note || '',\n        color: h.color,\n        highlighted_at: h.highlighted_at,\n      };\n    }),\n    createdAt: doc.created_at,\n    updatedAt: doc.updated_at,\n  },\n};\n"
      },
      "id": "format-highlights",
      "name": "Format for Export",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        940,
        300
      ]
    },
    {
      "parameters": {
        "content": "## 🔌 Connect Your Destination Here\n\nAdd your preferred export node after \"Format for Export\".\n\n**Available fields per item:**\n- `title` — Article/page title\n- `url` — Original URL\n- `glasp_url` — Glasp page URL\n- `domain`, `category`, `tags`\n- `highlightCount`\n- `highlightsText` — Plain text\n- `highlightsMarkdown` — Markdown\n- `highlights[]` — Array of objects\n- `createdAt`, `updatedAt`\n\n**Examples:**\n- Notion → Create Database Item\n- Slack → Send Message\n- Google Sheets → Append Row\n- Email → Send Email\n- Webhook → HTTP Request POST",
        "height": 440,
        "width": 360
      },
      "id": "sticky-note-destination",
      "name": "Sticky Note - Destination Guide",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1200,
        100
      ]
    },
    {
      "parameters": {
        "content": "## ⚙️ Setup (2 steps)\n\n**Step 1:** Get your Glasp Access Token\nhttps://glasp.co/settings/access_token\n\n**Step 2:** Open \"Fetch & Filter Highlights\" node\nand replace `YOUR_GLASP_ACCESS_TOKEN`\nwith your actual token.\n\n**Optional:** Adjust schedule frequency\nby clicking the Schedule Trigger node.\nDefault: every 6 hours.",
        "height": 300,
        "width": 360
      },
      "id": "sticky-note-setup",
      "name": "Sticky Note - Setup",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        180,
        -80
      ]
    },
    {
      "parameters": {
        "content": "## 🛡️ Security\n\n- For self-hosted n8n: use environment\n  variable `GLASP_ACCESS_TOKEN` instead\n  of pasting the token directly.\n- Exported doc tracking auto-cleans\n  after 30 days.\n- Never commit tokens to Git.",
        "height": 240,
        "width": 360
      },
      "id": "sticky-note-security",
      "name": "Sticky Note - Security",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        600,
        -80
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch & Filter Highlights",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch & Filter Highlights": {
      "main": [
        [
          {
            "node": "Has Highlights?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Highlights?": {
      "main": [
        [
          {
            "node": "Format for Export",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "Glasp"
    },
    {
      "name": "Highlights"
    },
    {
      "name": "Export"
    },
    {
      "name": "Automation"
    }
  ],
  "pinData": {}
}