glasp-highlights-export-workflow.json
{
  "name": "Glasp Highlights Auto Export",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Glasp Highlights Auto Export - Fetch & Filter\n// ============================================================\n// This node fetches highlights from the Glasp API,\n// handles pagination, and filters out already-exported docs.\n//\n// SETUP: Set your Glasp Access Token as an n8n credential\n//        or environment variable. See README for details.\n// ============================================================\n\nconst sd = $getWorkflowStaticData('global');\nconst now = new Date();\nconst firstRun = !sd.lastRunAt;\n\n// On first run, look back 24 hours. Otherwise, use last run time.\nlet baseDate = firstRun\n  ? new Date(now.getTime() - 24 * 60 * 60 * 1000)\n  : new Date(sd.lastRunAt);\n\n// Add 5-minute buffer to avoid missing highlights\nbaseDate = new Date(baseDate.getTime() - 5 * 60 * 1000);\n\n// Initialize exported docs tracker\nsd.exportedDocs = sd.exportedDocs || {};\n\n// -----------------------------------------------\n// Get token from environment variable\n// Set this in n8n Settings > Environment Variables\n// Key: GLASP_ACCESS_TOKEN\n// -----------------------------------------------\nconst token = $env.GLASP_ACCESS_TOKEN;\nif (!token) {\n  throw new Error(\n    'GLASP_ACCESS_TOKEN is not set. ' +\n    'Please set it in n8n Settings > Environment Variables. ' +\n    'Get your token at: https://glasp.co/settings/access_token'\n  );\n}\n\nlet allResults = [];\nlet nextPageCursor = null;\n\ndo {\n  const params = new URLSearchParams();\n  params.append('updatedAfter', baseDate.toISOString());\n  if (nextPageCursor) {\n    params.append('pageCursor', nextPageCursor);\n  }\n\n  const response = await fetch(\n    `https://api.glasp.co/v1/highlights/export?${params.toString()}`,\n    {\n      headers: {\n        Authorization: `Bearer ${token}`,\n        'Content-Type': 'application/json',\n      },\n    }\n  );\n\n  if (!response.ok) {\n    throw new Error(`Glasp API error: ${response.status} ${response.statusText}`);\n  }\n\n  const data = await response.json();\n\n  if (data.results && data.results.length > 0) {\n    allResults = allResults.concat(data.results);\n  }\n\n  nextPageCursor = data.nextPageCursor || null;\n} while (nextPageCursor);\n\n// Filter: only documents not yet exported\nconst newDocs = allResults.filter(doc => !sd.exportedDocs[doc.id]);\n\n// Mark as exported\nfor (const doc of newDocs) {\n  sd.exportedDocs[doc.id] = now.toISOString();\n}\n\n// Update last run timestamp\nsd.lastRunAt = now.toISOString();\n\n// Clean up old exportedDocs entries (older than 30 days)\nconst thirtyDaysAgo = new Date(now.getTime() - 30 * 24 * 60 * 60 * 1000);\nfor (const [docId, exportedAt] of Object.entries(sd.exportedDocs)) {\n  if (new Date(exportedAt) < thirtyDaysAgo) {\n    delete sd.exportedDocs[docId];\n  }\n}\n\nif (newDocs.length === 0) {\n  return [{ json: { message: 'No new highlights found.', count: 0 } }];\n}\n\nreturn newDocs.map(doc => ({ json: doc }));\n"
      },
      "id": "fetch-and-filter",
      "name": "Fetch & Filter Highlights",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-has-highlights",
              "leftValue": "={{ $json.highlights }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-has-highlights",
      "name": "Has Highlights?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Format highlights for export\n// ============================================================\n// This node transforms each document into a clean,\n// structured format ready for any destination.\n//\n// Output fields:\n//   - documentId, title, url, glasp_url\n//   - domain, category, tags\n//   - highlightCount\n//   - highlightsText (all highlights joined)\n//   - highlightsMarkdown (formatted as Markdown)\n//   - highlights (array of individual highlights)\n//   - createdAt, updatedAt\n// ============================================================\n\nconst doc = $input.item.json;\n\n// Build Markdown-formatted highlights\nconst highlightsMarkdown = [\n  `## ${doc.title}`,\n  ``,\n  `**URL:** ${doc.url}`,\n  `**Glasp:** ${doc.glasp_url}`,\n  doc.tags && doc.tags.length > 0 ? `**Tags:** ${doc.tags.join(', ')}` : '',\n  doc.document_note ? `**Note:** ${doc.document_note}` : '',\n  ``,\n  `### Highlights`,\n  ``,\n  ...doc.highlights.map((h, i) => {\n    let entry = `> ${h.text}`;\n    if (h.note) {\n      entry += `\\n\\n**Note:** ${h.note}`;\n    }\n    entry += `\\n\\n— *${h.color} highlight, ${new Date(h.highlighted_at).toLocaleDateString()}*`;\n    return entry + '\\n';\n  }),\n].filter(line => line !== '').join('\\n');\n\n// Plain text version\nconst highlightsText = doc.highlights\n  .map(h => h.text + (h.note ? ` [Note: ${h.note}]` : ''))\n  .join('\\n\\n');\n\nreturn {\n  json: {\n    documentId: doc.id,\n    title: doc.title || 'Untitled',\n    url: doc.url,\n    glasp_url: doc.glasp_url,\n    domain: doc.domain,\n    category: doc.category,\n    tags: doc.tags || [],\n    author: doc.author || '',\n    thumbnail_url: doc.thumbnail_url || '',\n    document_note: doc.document_note || '',\n    is_favorite: doc.is_favorite || false,\n    highlightCount: doc.highlights.length,\n    highlightsText: highlightsText,\n    highlightsMarkdown: highlightsMarkdown,\n    highlights: doc.highlights.map(h => ({\n      id: h.id,\n      text: h.text,\n      note: h.note || '',\n      color: h.color,\n      highlighted_at: h.highlighted_at,\n    })),\n    createdAt: doc.created_at,\n    updatedAt: doc.updated_at,\n  },\n};\n"
      },
      "id": "format-highlights",
      "name": "Format for Export",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [940, 300]
    },
    {
      "parameters": {
        "content": "## 🔌 Connect Your Destination Here\n\nAdd your preferred export node after \"Format for Export\".\n\nEach item includes these fields:\n- `title` — Article/page title\n- `url` — Original URL\n- `glasp_url` — Glasp page URL\n- `domain`, `category`, `tags`\n- `highlightCount` — Number of highlights\n- `highlightsText` — All highlights as plain text\n- `highlightsMarkdown` — Formatted as Markdown\n- `highlights[]` — Array of individual highlights\n- `createdAt`, `updatedAt`\n\n### Examples:\n- **Notion** → Create Database Item node\n- **Slack** → Send Message node\n- **Google Sheets** → Append Row node\n- **Obsidian** → Write file via local API\n- **Email** → Send Email node\n- **Webhook** → HTTP Request to any API",
        "height": 460,
        "width": 380
      },
      "id": "sticky-note-destination",
      "name": "Sticky Note - Destination Guide",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1200, 100]
    },
    {
      "parameters": {
        "content": "## ⚙️ Setup Instructions\n\n1. **Get your Glasp Access Token**\n   → https://glasp.co/settings/access_token\n\n2. **Set environment variable in n8n**\n   → Settings > Environment Variables\n   → Key: `GLASP_ACCESS_TOKEN`\n   → Value: your token\n\n3. **Adjust the schedule**\n   → Click \"Schedule Trigger\" to change frequency\n   → Default: every 6 hours\n\n4. **Connect your export destination**\n   → Add nodes after \"Format for Export\"\n   → See the guide on the right →",
        "height": 360,
        "width": 380
      },
      "id": "sticky-note-setup",
      "name": "Sticky Note - Setup",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [180, -120]
    },
    {
      "parameters": {
        "content": "## 🛡️ Security Notes\n\n- Access token is stored as an **environment variable**, never in the workflow JSON\n- Exported docs are tracked in n8n's **static data** (per-instance)\n- Old tracking entries are **auto-cleaned** after 30 days\n- No credentials are hardcoded in this workflow",
        "height": 220,
        "width": 380
      },
      "id": "sticky-note-security",
      "name": "Sticky Note - Security",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [620, -120]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch & Filter Highlights",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch & Filter Highlights": {
      "main": [
        [
          {
            "node": "Has Highlights?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Highlights?": {
      "main": [
        [
          {
            "node": "Format for Export",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "Glasp"
    },
    {
      "name": "Highlights"
    },
    {
      "name": "Export"
    },
    {
      "name": "Automation"
    }
  ],
  "pinData": {}
}
